
body {
  background-color:#f2f2f2;
  font-family:11px Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 5px 0px 0px 2px;
}
#content{
    background: #fff;
    border: 1px solid #b9c1c8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#load_insert{
display:none;
color:#4060CF;
}
a#insert_email {
    cursor: pointer;
}
.no_contacts{
margin: 5px; 
font-size: 15px; 
color: #5F6E7C; 
font-weight: 400; 
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); 
} 